textarea {
    overflow: auto;
    width: 100%;
    height: 12em;
    font-size: 24px !important;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: #686766;
}

.bg-final::before {
    content: '';
    background: url('../images/canva.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Set z-index to send it behind other content */
    z-index: -1;
}

@media screen and (max-width: 400px) {
    textarea {
        height: 5em;
    }
}