* {
    font-size: x-large !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-size: inherit !important;
    padding: 0.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 48px !important;
    font-weight: bolder;
    color: #fbbc42;
}

.center {
    text-align: center;
    align-items: center;
    align-self: center;
}

.lefted {
    text-align: left;
    align-items: left;
    align-self: left;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flex-container {
    resize: none;
    overflow: hidden;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.spacer-full-witdh {
    display: block;
    width: 100%;
}

.spacer-half-width {
    display: block;
    width: 50%;
}

.go-button {
    width: 200px;
    text-align: center;
    background-color: #fbbc42;
    border-color: #fbbc42;
    color: white;
    font-size: 24px !important;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-weight: bold;
    transition: background-color 0.3s, border-color 0.3s;
}

.go-button:hover {
    background-color: #f9aa0d;
    border-color: #f9aa0d;
    color: white;
}

@media (max-width: 960px) {
    .form-group {
        width: 100%;
    }

    .spacer-half-width {
        display: block;
        width: 100%;
    }
}

@media (min-width: 960px) {
    .form-group {
        width: 100%;
    }
}