span {
    background: white !important;
}

.logo {
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 64px;
    height: 64px;
    display: flex;
}

.logo-text {
    font-size: 48px !important;
    font-weight: bolder;
    color: #fbbc42;
    align-items: center;
    padding-left: 20px;
    display: flex;
}

.bg-text {
    background-color: rgb(255, 255, 255);
    /* Fallback color */
    background-color: rgba(255, 255, 255, 0.4);
    /* Black w/opacity/see-through */
    color: #686766;
    border: 3px solid #f1f1f1;
    margin-top: 5px;
    margin-bottom: 5px;
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.list-item {
    list-style-type: disc;
    display: list-item;
    margin: 0 10px;
    padding: 5px;
    text-align: center;
}

#options {
    background-color: transparent;
    border: none;
    list-style-type: none;
}

#options label {
    color: #686766;
}

.form-group .control-label {
    color: #fbbc42;
    text-align: left;
    font-size: 24px !important;
    font-weight: bolder;
    margin-left: -0.6em;
    margin: 5px;
}

#folder_path {
    color: #686766;
}

.bg-1::before {
    content: '';
    background: url('../images/canva.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Add the blur effect */
    filter: blur(5px);
    -webkit-filter: blur(5px);
    /* Set z-index to send it behind other content */
    z-index: -1;
}


@media (max-width: 600px) {
    .logo {
        display: none; /* Hide the logo */
    }
}

