{% macro renderfield(field) %}
<div class="form-group" id="{{ field.name }}-form">
    <label for="{{ field.name }}" class="control-label">{{ field.label.text }}</label>
    <div class="col-sm-12">
        {{ field(class_='form-control', **kwargs)|safe }}
        <ul>
        {% for error in field.errors %}
            <li style="color: red;">{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
  </div>
{% endmacro %}