{% from "_renderfield.html" import renderfield %}
{%extends 'base.html'%}


{%block customStyling%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/final.css') }}">
{%endblock%}

{%block title%}Renaming results{%endblock%}

{%block content%}
<form method="post">
    <div id="fullpage">
        <div class="section bg-final">
            <div class="container">
                <h1 class="title center">Results</h1>

                <div class="container center">

                    <div class="spacer-full-witdh">
                        <textarea readonly>{{ '\n'.join(logs) }}</textarea>
                    </div>

                    <div class="spacer-half-width center">
                        <input type="submit" class="go-button" value="Go Back">
                    </div>
                    
                </div>       

            </div>

        </div>

    </div>

</form>
{%endblock%}

{%block customStylingCode%}
<script src="{{ url_for('static', filename='js/final.js') }}"></script>
{%endblock%}