{% from "_renderfield.html" import renderfield %}
{%extends 'base.html'%}


{%block customStyling%}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
{%endblock%}

{%block title%}ROMs renamer{%endblock%}

{%block content%}
<form method="post">
    <div id="fullpage">
        <div class="section bg-1">
            <div class="container">

                <div class="flex-container center">
                    <div class="logo"></div>
                    <div class="logo-text">ROMs renamer</div>
                </div>

                {% include "_messages.html" %}
                <div class="bg-text">

                    <ul class="list spacer-full-witdh">
                        <li class="list-item">Choose one of the options or leave it default.</li>
                        <li class="list-item">Write the path to the folder where your ROMs are.</li>
                        <li class="list-item">Press rename ROMs to format them.</li>
                    </ul>

                </div>

                <div class="container center">

                    <div class="spacer-half-width lefted">
                        {{ renderfield(form.options) }}
                    </div>

                    <div class="spacer-half-width lefted">
                        {{ renderfield(form.folder_path) }}
                    </div>

                    <div class="spacer-half-width center">
                        <input type="submit" class="go-button" value="Rename ROMs">
                    </div>

                </div>

            </div>

        </div>

    </div>

</form>
{%endblock%}

{%block customStylingCode%}
<script src="{{ url_for('static', filename='js/home.js') }}"></script>
{%endblock%}